.modal_cart_popup {
   max-width: 575px;
   background-color: white;
   border: 1px solid #ebebeb;
   padding: 20px;
   position: fixed;
   z-index: 99999;
   top: 0;
   right:0;
   height: 250px;
   width: 350px;
}

.animate-top
{
    animation:animatetop 0.4s
}

@keyframes animatetop {
    from{top:-300px;opacity:0} to{top:0;opacity:1}
}

.modal_cart_popup .close {
   position: absolute;
   top: 10px;
   right: 20px;
   font-size: 20px;
   cursor: pointer;
}

.modal--overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
   display: none;
   transform: translateY(-100%);
}

.product_image {
   max-height: 80px;
   max-width: 60px;
   margin: 0 auto;
}

.modal_cart_popup_footer
{
    font-size: 14px;
    bottom: 20px;
    text-align: center;
    width: 100%; 
    display: block;
    margin-top: 15px;
}

.modal_cart_popup_button
{
    margin-top: 20px;
}

.block 
{
  display: block;
  width: 100%;
  border: 1px solid black;
  padding: 9px 22px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.modal_cart_popup_header
{
    font-size:12px;
    text-transform: uppercase;
}

.close{
    background-color: transparent;
    border: none;
}

#modal_cart_popup_image {
    display: inline-block;
}

#modal_cart_popup_description {
    vertical-align:top;
    display: inline-block;
    width:185px;
    height:80px;
}

#modal_cart_popup_qty
{
    font-size: 12px;
}

#div_error
{
    display: none;
}

#error_message
{
    color:red;
}

.custom_button
{
    color: white;
    display: block;
    width: 100%;
    padding: 5px 22px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    background-color: #3a3a3a;
    border: 0;
}

.custom_select
{
    display: block;
    width: 100%;
    padding: 5px 22px;
    margin-bottom: 10px;
}